<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/added_items.js"></script>
    <script type="text/javascript" src="/scripts/menu_listing.js"></script>
    <script type="text/javascript" src="/scripts/cart_calculator.js"></script>
    <!-- <script type="text/javascript" src="/scripts/view_saved_order.js"></script> -->

  </head>

  <body>

    <header class="header">
      <div class="pic-login">
        <img class="restaurant-pic" src="https://images.dailyhive.com/20200826125008/unnamed-22.jpg">
      </div>
      <div class="login">
        <form method="GET" action='/login'>
          <button type="submit">Login</button>
        </form>
      </div>
    </header>

    <div id="container">
      <div id="menu"></div>
      <div id="cart">
        <form class="select-menu-items">
          <h3>Cart</h3>
          <div id="cart-items">
          </div>
          <div class="cart-wrapper">
            <div class="cart-left-column">
              <p>Total</p>
            </div>
            <div id="total" class="cart-right-column">
            </div>
            </div>
          <div class="menu-submit">
            <button type="button" class="btn btn-primary">Check Out</button>
            <button type="button" class="btn btn-secondary">Clear Cart</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
