<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/container.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/header.js"></script>
    <script type="text/javascript" src="/scripts/added_items.js"></script>
    <script type="text/javascript" src="/scripts/menu_listing.js"></script>
    <script type="text/javascript" src="/scripts/cart_calculator.js"></script>
    <script type="text/javascript" src="/scripts/cart_interaction_control.js"></script>
    <!-- <script type="text/javascript" src="/scripts/clearCart.js"></script> -->
    <script type="text/javascript" src="/scripts/phonenum.js"></script>
  </head>

  <body>

    <header class="header">
      <div class="Oki-login">
      <div class="pic-login">
        <h1 class="restaurant-name">Oki Sushi</h1>
      </div>
      <!-- <header id="page-header"></header> -->
      <!-- <div class="login">
        <button type="submit">LOGIN</button>
        <img class="restaurant-pic" src="https://images.dailyhive.com/20200826125008/unnamed-22.jpg">
      </div> -->
      <div class="login">
        <form method="GET" action='/login'>
          <button type="login">Login</button>
        </form>
      </div>
    </div>
      <!-- <div class="head-container"><p>Oki Sushi<br>
        Open 11:00 AM - 9:00 PM</p>
      </div> -->

    </header>
    <div class="class-container">
    <div id="container" class="container">
      <div id="menu" class="col"></div>
      <div id="cart"  class="col">
        <h3>Cart</h3>
      </div>
    </div>
  </div>
  </div>
  </body>
</html>
