<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<<<<<<< HEAD
    <link rel="stylesheet" href="/styles/menu.scss" type="text/css" />
=======
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
>>>>>>> 9a75cb256ee0c5a823838b7513863d0e4c24c606
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/menu_listing.js"></script>

  </head>

  <body>

    <header class="header">
      <div class="pic-login">
        <img class="restaurant-pic"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-HbCYOX689sp9X_8ImCcZU0eT4AoGe177fQ&usqp=CAU">
      </div>
      <div class="login">
        <button type="submit">Login</button>
      </div>
    </header>

<<<<<<< HEAD
    <div id="container">
      <div id="menu"></div>
      <div id="cart"><ul></ul></div>
    </div>

=======
>>>>>>> 9a75cb256ee0c5a823838b7513863d0e4c24c606

    <div id="container">
      <div id="menu"></div>
      <div id="cart"><ul></ul></div>
    </div>
  </body>
</html>
