div.inner-container {
  font-family: "Syncopate", sans-serif;
}
div.inner-container {
  margin-top: 20px;
  font-family: "Syncopate", sans-serif;
  font-size: 30px;
}

button#clear {
  background-color: grey;
  font-family: "Syncopate", sans-serif;
  border-color: black;
}
