html {
  display: flex;
  justify-content: center;
}

.class-container {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  width: 90%;
  margin-top: -10em;
  position: absolute;
  border-radius: 15px;
}

.restaurant-title {
  img {
    display: block;
    margin: auto;
    margin-top: 20px;
  }

  p {
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: "Syncopate", sans-serif;
    color: black;
  }
}

#menu-cart {
  display: flex;
  border-top: solid gray;
}
