
html {
  display: flex;
  justify-content: center;
}

.class-container {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  width: 90%;
  margin-top: -10em;
  position: absolute;
  border-radius: 15px;
}

