.header {
  align-content: space-between;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-around;
  width: 100vw;
}

.restaurant-pic {
  padding-bottom: 40px;
  padding-top: 40px;
  width: 300px;
  height: auto;
}

button {
  align-self: flex-end;
  background: white;
  color: red;
  font-family: sans-serif;
  display: flex;
  margin-right: 100px;
}
