// See: https://sass-lang.com/

body {
  background-color: rgb(255, 255, 255);

  h1 {
    color: #000000;
  }
}

.menu-listing {
  display: flex;
  width: fit-content;
  border: 1px solid black;
}

.menu-listing_details {
  order: 1
}

.menu-listing_image {
  order: 2;
}

#menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

img {
  height: 5em;
  width: 5em;
}

#cart {
  height: auto;
  border-radius: 10px;
  max-height: 50rem;
  width: 20em;
  border: 1px solid black;
  padding: 20px;
  margin: 100px 500px;

  .shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-wrapper {
    display: flex;
    flex-direction: row;
  }
  .cart-left-column {
    order: 1;
    flex-grow: 1;
  }

  .cart-right-column {
    order: 2;
    flex-grow: 1;
    text-align: right;
  }
}

#container {
  display: flex;
  justify-content: space-between;
}

