#menu {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 40px;
  padding: 10px;
  width: 50px;
  border-radius: 10px;
}

.menu-listing {
  margin: 15px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction:column-reverse;
  border-color: rgb(196, 192, 192);
  border-radius: 10px;
}

.menu-listing:hover {
  box-shadow:10px 10px 0px 0px rgb(202, 213, 230);
}

.button {
  color: black;
}

// <div class="menu-listing" data-id="${menu_items.id}">
// <section class="menu-listing_image">
//   <img src="${menu_items.image}">
// </section>
// <section class="menu-listing_details">
//   <p class="menu-listing_name">name: ${menu_items.name}</p>
//   <p class="menu-listing_description">description: ${menu_items.description}</p>
//   <p class="menu-listing_price">price: ${menu_items.price}</p>
// </section>
// </div>
// `
