#menu {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  height: auto;
  margin: 10px 0px;
  padding: 10px;
  width: 75%;
  border-radius: 10px;
  background-color: white;
  flex-wrap: wrap;
  font-family: "Syncopate", sans-serif;
  font-size: smaller;
  flex-grow: 2;
}

.menu-listing {
  margin: 15px;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  border-color: rgb(196, 192, 192);
  border-radius: 10px;
  width: 25%;
}

.menu-listing_name {
  color: black;
  padding-top: 10px;
}

.menu-listing:hover {
  box-shadow: 10px 10px 0px 0px rgb(202, 213, 230);
}

.menu-listing_details {
  order: 1;
}

.menu-listing_image {
  order: 2;
}

img {
  height: 10em;
  width: 10em;
  border-radius: 10px;
}

#cart {
  height: auto;
  border-radius: 10px;
  max-height: 50rem;
  width: 20em;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 20px;
  right: 0;
  background-color: white;
  font-family: "Syncopate", sans-serif;
  height: fit-content;

  #phoneNum {
    margin-bottom: 20px;
  }

  #checkout {
    margin-bottom: 20px;
    background-color: lightsalmon;
    color: rgb(54, 52, 52);
  }

  .shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-wrapper {
    display: flex;
    flex-direction: row;
  }

  .cart-left-column {
    order: 1;
    flex-grow: 1;
  }

  .cart-right-column {
    order: 2;
    flex-grow: 1;
    text-align: right;
  }
}

.sub-total {
  border-top: 1px solid darkgray;
  padding-top: 20px;
  font-size: smaller;
}

.tax {
  font-size: smaller;
}

.total {
  font-weight: 600;
  color: rgb(82, 79, 79);
}

#cart:hover {
  box-shadow: 10px 10px 0px 0px rgb(202, 213, 230);
}

.cart-wrapper {
  display: flex;
  justify-content: space-between;
}
